@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/*
Regular 400
Medium 500
Bold 700
Black 900
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
	font-style: normal;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
